body{
    color: yellow;
    background-color: black;
}
section{
    background-color:rgb(109, 1, 109);
    padding-top: 150px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}